<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Help</h5>
    <p>Lorem ipsun dolor sit amet, consectetur adipis</p>
    <p>Lorem ipsun dolor sit amet, consectetur adipis</p>
  </q-page>
</template>

<script>
export default {
}
</script>
